body {
    background-color: black;
}

.landing-main-container {
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Gotham";
}

.landing-main-container-text {
    font-size: 2rem;
    width: 100rem;
    line-height: 3.2rem;
    text-align: justify;
    text-align-last: center;
}

.landing-main-container-text-padding {
    padding: 2rem;
}